.load_furniture_container {
  display: flex;
  justify-content: center;
}

.load_furniture {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  background-image: url("./assets/furniture-sample.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.floorplan_container {
  display: flex;
}
